.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

.popup__container {
    position: relative;
    max-width: 70%;
    max-height: 85%;
    box-sizing: border-box;
    background-color: bisque;
    border-radius: 25px;
    padding: 0 10px 15px 15px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.popup__container::-webkit-scrollbar {
    width: 5px;
    height: 100px;
}

.popup__container::-webkit-scrollbar-track {
    margin: 20px 0;
}

.popup__container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
}