.popup_geo {
    width: 65vw;
    height: 80vh;
}

.popup-geo {
    width: 100%;
    box-sizing: border-box;
}

.popup-geo__header {
    margin: 0;
    font-size: 30px;
}

.popup-geo__city-list {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}

.popup-geo__list-half {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-geo__city {
    cursor: pointer;
    font-size: 20px;
    opacity: 1;
    color: #000;
    transition: opacity .3s, color .3s;
}

.popup-geo__city:not(:last-of-type) {
    margin-bottom: 10px;
}

.popup-geo__city:hover {
    opacity: .7;
    color: #6600ff;
}