.popup {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
}

.popup_opened {
    opacity: 1;
    visibility: visible;

    body {
        overflow: hidden;
    }
}

.popup__container {
    /* position: relative; */
    z-index: 3;
    width: 65vw;
    height: 80vh;
    background-color: #f5f5f5;
    border-radius: 20px;
}

.popup__close {
    position: fixed;
    z-index: 3;
    background-color: transparent;
    border: none;
    background-image: url('../../images/close-icon.svg');
    padding: 0;
    background-size: 100%;
    width: 30px;
    height: 30px;
    margin-left: 67vw;
    margin-top: -30px;
    cursor: pointer;
}