.main {
    width: 70%;
    margin: 70px auto 0 auto;
}

@media screen and (max-width: 768px) {
    .main {
        margin-top: 50px;
    }
}

@media screen and (max-width: 660px) {
    .main {
        margin: 0;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 426px) {
    .main {
        padding: 10px;
    }
}