.auth {
    margin-top: 30px;
}

@media screen and (max-width: 426px) {
    .auth {
        margin-top: 20px;
    }
}

.auth__container {
    width: 40vw;
    margin: 0 auto;
    border-radius: 35px;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .auth__container {
        width: 60vw;
    }
}

@media screen and (max-width: 426px) {
    .auth__container {
        width: 100%;
    }
}

.auth__header {
    margin: 0;
    font-size: 27px;
    text-align: center;
}

.auth__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    margin: 30px 0 40px 0;
}

.auth__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.auth__input {
    font-size: 25px;
    box-sizing: border-box;
    border: none;
    padding: 7px;
    /* outline-bottom: 1px solid #000; */
    border-bottom: 1px solid #2f2f2f;
    outline: none;
    opacity: 1;
    transition: opacity .3s;
}

.auth__input:hover {
    opacity: .6;
}

@media screen and (max-width: 1023px) {
    .auth__input {
        font-size: 18px;
    }
}

.auth__submit {
    font-size: 25px;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 8px;
    border: 1px solid #777777;
    cursor: pointer;
}

@media screen and (max-width: 1023px) {
    .auth__submit {
        font-size: 18px;
    }
}