.places__container {
    width: auto;
    padding: 20px 25px 20px 20px;
    border: 1px solid rgba(34, 60, 80, 0.1);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 300px auto 30px;
    box-shadow: none;
    transition: box-shadow .3s;
}

@media screen and (max-width: 768px) {
    .places__container {
        padding: 12px;
        border-radius: 35px;
        grid-template-columns: 190px auto 25px;
    }
}

@media screen and (max-width: 532px) {
    .places__container {
        grid-template-columns: 190px;
        justify-content: center;
        grid-row-gap: 13px;
    }
}

.places__container:hover {
    box-shadow: 0 0 15px #e6f4ff;
}

.places__container:not(:last-of-type) {
    margin-bottom: 30px;
}

.places__image {
    width: 300px;
    height: 300px;
    border-radius: 33px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .places__image {
        width: 190px;
        height: 190px;
    }
}

@media screen and (max-width: 532px) {
    .places__image {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        height: 100%;
        border-radius: 24px;
    }
}

.places__info {
    margin: 0 0 0 20px;
}

@media screen and (max-width: 532px) {
    .places__info {
        margin: 0;
    }
}

.places__name {
    margin: 0
}

@media screen and (max-width: 426px) {
    .places__name {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .places__address {
        font-size: 15px;
        margin: 10px 0;
    }

    .places__time {
        font-size: 15px;
        margin: 0;
    }
}

@media screen and (max-width: 426px) {
    .places__address {
        font-size: 12px;
        margin: 10px 0;
    }

    .places__time {
        font-size: 12px;
        margin: 0;
    }
}

.places__fave {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
    justify-self: end;
}

@media screen and (max-width: 768px) {
    .places__fave {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 426px) {
    .places__fave {
        width: 20px;
        height: 20px;
    }
}

.places__fave:hover {
    opacity: .8;
}

.places__like-icon {
    width: 100%;
}