.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 30px;
    }
}

@media screen and (max-width: 426px) {
    .header {
        padding: 20px 15px;
    }
}

.header__container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.header__logo {
    display: flex;
}

.header__name {
    margin: 0 0 15px 0;
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .header__name {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.header__name_link {
    text-decoration: none;
    color: #000;
}

.header__description-logo {
    margin: 0;
    font-size: 20px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .header__description-logo {
        font-size: 15px;
    }
}

.header__geo {
    border: none;
    background-color: transparent;
    padding: 0;
    height: 15px;
    margin-top: 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
}

@media screen and (max-width: 768px) {
    .header__geo {
        display: none;
    }
}

.header__geo:hover {
    opacity: .7;
}

.header__geo-icon {
    height: 100%;
}

.header__auto {
    display: none;
}

@media screen and (min-width: 769px) {
    .header__auto {
        display: block;
    }
}

.header__signin {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s linear;
}

.header__signin:hover {
    opacity: .7;
}

.header__navbar-button {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__navbar-button {
        display: block;
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }

    .header__navbar-icon {
        width: 100%;
    }
}